body {
  margin: 0;
  body {
    font-family: 'Inter', sans-serif;
  }
  
}
.navbar {
  font-family: 'Inter', sans-serif;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
